body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
  background: #eaeaea;
}

.project-buttons {
  display: inline-flex;
  width: 11em;
  justify-content: space-between;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}